In [ ]:
name,age,sal,male='mahipal',20,2000.5,True
print(name,age,sal,male)

#name1=input("enter your name ")
#age1=int(input('age pls '))
#sal1=float(input('salary '))
#print(name1,' ',age1,' ',sal1,' ',gender1)

age1=int(input('age pls '))

print (age1)

s=age1+20

print(s)



#a=10
#b=20
#c=a+b
#print(c)

In [ ]:
#1.Arthimatic operators
a=5
b=3
print('addition of ',a,' ',b,'is ',a+b)
print('subtraction of',a,' ',b,'is ',a-b)
print('multiplication of',a,' ',b,'is ',a*b)
print('division of',a,' ',b,'is ',a/b)
print('power of' ,a,' ',b,'is ',a**b)
print('modulus of',a,' ',b,'is ',a%b)
print('floor division',a,' ',b,'is ',a//b)

In [ ]:
#2.Comparision Operators
a,b=10,20
if(a>b):
    print('a is greater than b')
else:
    print('b is greater than a')

c=20
d=30
print(c>d)#False
print(c<d)#True
print(c==d)#False
print(c!=d)#True
print(c>=d)#False
print(c<=d)#True

In [ ]:
# 3.Logical Operators  and or not
user="mahipal"
pwd="mahipal"
user_id=input('enter userid ')
pass_word=input('enter pwd ')
if((user==user_id) and (pwd==pass_word)):
    print('user and pwd are same')
else:
    print("user and pwd are not same")

'''if(not(user==user_id)):
    print('username is wrong')
else:
    print('username is correct')'''

In [ ]:
#4.increment decrement operators
a=10
a +=20
print(a)

# Strings

In [ ]:
firstName='mahipal'
lastName='reddy'
print(firstName+lastName)
print(len(firstName))
print(max(firstName))
print(min(firstName))
print(firstName*10)

In [ ]:
num1=10
num2=20
print(num1+num2)

num3,num4='10','20'
print(num3+num4)

In [ ]:
print(dir(str))

In [ ]:
name='mahipal reddy burri'
print(name.capitalize())#Mahipal reddy burri    first letter of word makes capital
print(name.upper())#MAHIPAL REDDY BURRI    entire string in capitals
print(name.title())#Mahipal Reddy Burri

name2='MOUNIKA Burri'
print(name2.casefold())#mounika burri  entire string in lower
print(name2.lower())#mounika burri     entire string in lower

name3="shashank AkaVARAM"
print(name3.swapcase())#SHASHANK aKAvaram

name4="Bala krishna"
print(name4.zfill(40))#0000000000000000000000000000Bala krishna
print(name4.center(40))#              Bala krishna              
print(name4.center(40,'*'))#**************Bala krishna**************

name5='python is a programming launguage'
print(name5.count('a'))#4
print(name5.replace('python','java'))#java is a programming launguage
print(name5.startswith('java'))#True
print(name5.endswith('guage'))#True
print(name5.split())#['python','is','a','programming','launguage']
print(name5.split('a'))#['python is ', ' progr', 'mming l', 'ungu', 'ge']
print(name5.partition('py'))#('', 'py', 'thon is a programming launguage')

name6='python3'
print(name6.isalpha())#False
print(name6.isalnum())#True
print(name6.isascii())#True

name7='       '
print(name7.isspace())#True

In [ ]:
name='data science'
print(name[5])#s
print(name[-1])#e
print(name[-3])#n
print('length= ',len(name))#12
print(name[0:4])#data
print(name[-11:-5])#ata sc
print(name[0:8:2])#dt c
print(name[:6])#data s
print(name[2:])#ta science
print(name[0:12:3])#dacn
print(name[:-1])#data scienc
print(name[::-1])#ecneics atad   reverse string

In [ ]:
#print(help(str))

In [ ]:
#print(help(str.count))

# Lists

In [ ]:
fruits=['mango','banana','pineapple']#homogeneous
print(fruits) #['mango', 'banana', 'pineapple']

for x in fruits:
      print(x)  #mango
                #banana
                #pineapple

for i in fruits:
    if i=='banana':
        print(i.upper())  #BANANA
        
scores=[40,35,60,50,70]
new_scores=[]
for i in scores:
    if(i>=40):
        new_scores.append(i+5)  #45 55 65 75
print("scores ",scores)        #[40, 35, 60, 50, 70]
print("new_scores ",new_scores) # [45, 65, 55, 75]

list1=[20,20.5,'mahipal',True] #heterogeneous
print(list1)

print(len(list1))

#1.functions
marks=[60,70,35,45,90,80,93]
print(marks)
print('length=',len(marks))
print('min=',min(marks))
print('max=',max(marks))
print('sum=',sum(marks))
print('avg=',sum(marks)/len(marks))

#2.indexing and slicing
names=['mahipal','mounika','chutki','cherry','berry']
print(names[0])#mahipal
print(names[-1])#berry
print(names[1:3])#['mounika','chutki']
print(names[:2])#['mahipal', 'mounika']
print(names[:-1])#['mahipal','mounika','chutki','cherry']
print(names[0:4:2])#['mahipal','chutki']

#3.methods
#print(dir(list))
cars=['bmw','tatamotors']
cars.append('hyundai') #only one argument
cars.insert(0,'volkswagen') #insert element ata sprecific index
cars.extend(['ford','tesla']) #only one argument
print("cars=",cars)#['volkswagen', 'bmw', 'tatamotors', 'hyundai', 'ford', 'tesla']

cars.reverse()
print("in reverse ",cars)#['tesla', 'ford', 'hyundai', 'tatamotors', 'bmw', 'volkswagen']

cars.sort()
print("in sorted order ",cars)# ['bmw', 'ford', 'hyundai', 'tatamotors', 'tesla', 'volkswagen']

cars_new=cars.copy()
print("copy ",cars_new)# ['bmw', 'ford', 'hyundai', 'tatamotors', 'tesla', 'volkswagen']

cars_new.pop()
print(cars_new)# ['bmw', 'ford', 'hyundai', 'tatamotors', 'tesla']   removes last element

cars_new.remove('hyundai')
print("remove particular element= ",cars_new)# ['bmw', 'ford', 'tatamotors', 'tesla']

cars_new.clear()
print(cars_new)

#4.list is ordered,allows duplicates
students=['mahipal','ashok','subash','kiran','raju','kiran']
print(students)

In [ ]:
#for Loops
name="mahipal"
for i in name:
    print(i)

for j in name:
    if(j=='p'):
        print(j.center(50,'*'))

for k in name:
    print(k.upper())
    
#even or odd
numbers=[2,6,4,3,5,8,12,76,345,542]
even_num=[]
odd_num=[]
for i in numbers:
    if(i%2==0):
        even_num.append(i)
    else:
        odd_num.append(i)
    
print("even numbers list ",even_num)
print("odd numbers list",odd_num)

# Conditions

In [ ]:
age=int(input('enter age'))
if(age<18):
    print('you are child')
    
elif ((age >= 18) and (age < 30)):
    print('you are young')

elif ((age >= 30) and (age < 40)):
    print('you are adult')

elif ((age >= 40) and (age < 60)):
    print('you are moderatley old')

else:
    print('you are old')

In [ ]:
key=int(input('enter key 1 to 5 : '))
if(key ==1):
    print('balance info')
elif(key==2):
    print('credit info')
elif(key==3):
    print('credit score info')
elif(key==4):
    print('last withdrawl info')
elif(key==5):
    print('last 3months withdrwal info')
else:
    print('please enter correctly')

In [ ]:
age=int(input('enter your age'))
if(age>=18):
    print('age constraint met..pls continue')
    salary=float(input('enter your salary'))
    if(salary>30000):
        print('salary constraints met..pls continue')
        cibil_score=int(input('enter cibil score'))
        if(cibil_score>=250):
            print('cibil score met..congrats')
            print('you are eligible for loan')
        else:
            print('cibil score is less,not eligible for loan')
    else:
        print('sorry,your sal is less than 30k')
else:
    print('sorry your are not applicable for loan')

# loops

In [ ]:
fruits=['apple','banana','mango','sapota','orange']
name=input('enter your favourite fruit')
for x in fruits:
    if(x==name):
        print("favourite fruit",name," is available")
        name2=name
        break
if(name!=name2):
    print(name,'fruit not avaliable')

In [ ]:
while(False):
    print('python is good') # nothing executes

In [ ]:
#while(True): 
#    print('in while loop') # COntinusouly Executes

In [ ]:
a=0
while(a<=10):
    print(a)
    a+=1

In [ ]:
a=20
while(a<=30):
    print(a)
    a+=2

In [ ]:
pin_num=1234
attempts=3
while(attempts>0):
    entered_pin=int(input('pls enter pin number'))
    if(entered_pin==pin_num):
        print('sucessfully logedin')
        break
    else:
        attempts-=1
        if(attempts!=0):
             print('you have ',attempts,' more attempts.Pls retry')
        else:
            print('Sorry,Thank you for visiting')

In [ ]:
a=1
while(a<50):
    print(a)
    a+=2

In [ ]:
#Nested Loops
colors=['red','green','blue']
lang=['java','python','c']
for i in colors:
    for j in lang:
        print(i,j)

In [ ]:
num1=list(range(1,20))
num2=list(range(1,11))
print('num1',num1)
print('num2',num2)
for i in num1:
    for j in num2:
        print(i,'*',j,'=',i*j)
    print('**********')

# set 
set is unordered,so indexing and slicing can't possible
set can be create with {}

In [ ]:
emp={101,2000.5,'mahipal',True,'raj','kiran','raj','raj'}
print('emp=',emp) #{True, 101, 'mahipal', 2000.5, 'kiran', 'raj'}

#print(dir(set))
#set methods

emp.add('shashank') #takes exactly one argument
print('after add emp=',emp) #{True, 101, 'mahipal', 'shashank', 2000.5, 'kiran', 'raj'}

emp.update({'mahesh','nandu','oxo','mohan','kundra'}) # add multiple elements
print('after update emp=',emp) #{True, 'mahesh', 101, 'mahipal', 'shashank', 'oxo', 2000.5, 'mohan', 'kiran', 'raj', 'kundra', 'nandu'}

emp2=emp.copy() #makes copy
print('after copy emp2=',emp2) # {2000.5, True, 'kiran', 101, 'raj', 'mahipal', 'shashank'}

emp2.clear() #clear all elemnts in set
print('After clear emp2=',emp2) #set()

emp.discard('kiran') #delete one element
print('after discard emp=',emp)

emp.pop() #deletes first element
print('after pop emp=',emp)

emp.remove('shashank') #takes one argument
print('after remove',emp)

emp3={'mahipal','raj','arun','bala'}
print('emp3=',emp3)
print('emp diiference to emp3=',emp.difference(emp3))

emp4=emp.intersection(emp3)#takes common elements
print('after interscetion emp=',emp4)

emp5=emp.union(emp4)#combines both
print('after union emp=',emp5)

name=input('enter employee ')
for i in emp: 
    if(i==name):
        print('emp ',name.capitalize() ,'found')
        break
else:
        print('not found')

In [ ]:
#Set Functions        
emp_id={101,108,104,130}
print(len(emp_id))
print('max',max(emp_id))
print('min',min(emp_id))
print('sum',sum(emp_id))
print('average',sum(emp_id)/len(emp_id))

In [ ]:
user_id={'mahipal123','raj342'}
user=input('enter user id=')
user2={user}
if(user_id.intersection(user2)):
    print(user, 'already taken,Please choose another one')
else:
    print('Sucessfully created user id ',user)

In [ ]:
#tuples
tuple1=('mahipal','raj','mahesh','hari',200.56,123,'True','mahipal','suman','mahipal') #duplicates allowed,ordered,
print("tuple1",tuple1)

for i in tuple1:
    print(i)

print("count =",tuple1.count('mahipal')) #count element 

#tuple functions
tuple2=(10,40,20,34,54,34,65,56,77,85,40)
print(tuple2)
print('length ',len(tuple2))
print('min ',min(tuple2))
print('max ',max(tuple2))
print('sum is ',sum(tuple2))
print('average ',sum(tuple2)/len(tuple2))

tuple3=10,20,40,11,'mahipal'
print('tuple3 =',tuple3)#(10, 20, 40, 11, 'mahipal')

#tuple indexing and slicing
tuple4=(30,20,40,11,34,25,98,59,67,89,91)
print(tuple4[2])#40
print(tuple4[2:6])#40,11,34,25
print(tuple4[:6])#30,20,40,11,34,25
print(tuple4[1:6:2])#20,11,25
print(tuple4[-5])#98
print(tuple4[-7:-3])#34,25,98,59
print(tuple4[9:3])# nothing prints  ()
print(tuple4[-3:-7])# nothing prints  ()

#tuple methods
tuple5=(40,10,55,23,43,20,90,21,23,43)
print("count of 43=",tuple5.count(43))
print("count of 21=",tuple5.count(21))

print("index of 43=",tuple5.index(43))

In [ ]:
list1=[['mahipal','mounika','chutki','hymavathi'],('raj','kiran','somu')]
list1.append('rajender')
print("particular element ",list1[0][1].capitalize())#Mounika

for j in list1[0]:
    print(j)  #mahipal mounika chutki hymavathi
print('*************')

for i in list1[1]:
    print(i)  #raj kiran somu

In [ ]:
help(dict)

In [ ]:
#Dict
dict1={100:'IND',101:'CAN',102:'AUS'}
print(dict1) #{100: 'IND', 101: 'CAN', 102: 'AUS'}

for i in dict1:
    print(i)  #100 101 102

dict2={'A':'APPLE','B':'BALL','C':'CAT','B':'BAT','D':'BAT'}
print(dict2) #{'A': 'APPLE', 'B': 'BAT', 'C': 'CAT', 'D': 'BAT'}   key can't be duplicate,values can be duplicate

print(dict2.keys()) #dict_keys(['A', 'B', 'C', 'D'])
print('value of key A is ',dict2.get('A'))# 'APPLE'
#dict2.items()

dict3={}
dict3=dict2.copy()
print('copy ',dict3)

dict4={'E':'Egg','F':'Foriegn','G':['raj','mahipal','reddy','somu']}
print('dict4',dict4)   
print(dict4.get('G'))

dict5={'H':'rose','j':('anar','baaby','cinar','dinar'),'k':['amruth','keshva','somesh','umesh']}
print(dict5)
print(dict5.get('j'))

# Functions

In [ ]:
x=150
y=200
z=x-y
print(abs(z))
c=-123
print('absolute value of ',c, 'is ',abs(c))
a=[1,2,4,2,6,4]
print('minimum ',min(a))
print('maximum ',max(a))
print('length ',len(a))

list1=['mahipal',20,30985.54,True]
print(all(list1))  #True

list2=[1,2,3,4]
print(all(list2))#True

list3=[0,1,2,3,4]
print(all(list3))# False

list5=[]
print(all(list5))#True

print(dir(list1))
print('**********************************')
print(dir(str))

print('divmode of 18,3 is ',divmod(18,3))  #(6,0)  6 is quotient 0 is reminder


list6=['Mahipal','Mounika','Driti','Hymavathi']
for i,j in (enumerate(list6)):
    print('position is ',i,' value is ',j)

print('asci value of @ is ',ord('@'))  
print('ascii of 64 is ',chr(64))

list7=['mahipal','reddy']
print(isinstance(list7,list))#True
print(isinstance(list7,set))#False
print(isinstance(list7,tuple))#False

#range(0,n-1)
a=list(range(0,100))#prints range of values from 0 to 99(n-1)
print(a)

for i in range(0,20):
    print(i)

#help(list)

def find_even_number(b):
    if(b%2==0):
        return (b,' is even number')
find_even_number(20)    

def find_positive_number(c):
    if c>0:
        print(c/2)
#filter        
list8=[-10,9,3,2,5,7,-4,-6,7,-2]        
positiveList=list(filter(find_positive_number,list8))        
print(positiveList)

#map
def find_square(a):
    print(a*a)
list1=[2,3,4,5]
squredList=(list(map(find_square,list1)))
print(squredList)

#reduce
def add_numbers(x,y):
    return (x+y)

from functools import reduce
list9=[2,3,4,5,6]
prod=reduce(add_numbers,list9)
print('reduce ',prod)

import functools
print(dir(functools))

In [ ]:

def seperate_scores(a):
    passed=[]
    failed=[]
    for i in a:
        if(i>=35):
            passed.append(i)
            
        else:
            failed.append(i)
    print('qualified ',passed)   
    print('failed ',failed)
    return

In [ ]:
science=[90,34,36,53,21,11,77,85,48]
seperate_scores(science)

In [ ]:
#datatype conversions
num1=10
print(float(num1))#10.0

num2=15.256
print(int(num2))#15

list1=[10,20,30,23,54,30]
set1=set(list1) #convert list to set
print(set1) #{10,20,54,23,30}

a=10
b=3
print(a/b)#3.3333333333333335
print(round(a/b,2))#3.33

# 1.Required Positional Arguments

In [ ]:
def myfun(a,b): #created function ,arguments not embded with code
    print('I am Learning Python')
    print('I am Learning DataScience')    
    return
myfun(10,'mahi') #calling function

In [ ]:
#Embeding arguments with code
def add(a,b):
    return a+b
    
def sub(a,b):
    return a-b

def mul(a,b):
    return a*b

def capital(a):
    return a.capitalize()

sub(3,2)
mul(3,2)
capital('mahipal')

In [ ]:
def myfun1(str,list,dict):
    print('str is ',str)
    print('list is ',list)
    print('dict is ',dict)
    return

# myfun1('mahi',2)  # missing 1 required positional argument 'dict'
# myfun1('mahi')  # missing 2 required positional arguments: 'list' and 'dict'
myfun1('mahi',20,22.4) # str is mahi 
                   # list is 20
                   # dict is 22.4

def myfun2(a):
    print('i am mahi')
    return
myfun2(20)

def userdetails(a,b):
    print('user name is',a)
    print('user age is',b)
    return

userdetails('mahi',23)

def substraction(a,b):
    result=a-b
    return result
substraction(5,10)

# 2.Keyword argument

In [ ]:
def substract(a,b):
    print(a-b)
    return
substract(b=5,a=10)

def test(a,b,c):
    print('a is ',a)
    print('b is ',b)
    print('c is ',c)
    return
test(b=10,a=4,c=2)

def address(name,age,phone,sal):
    print('name is',name)
    print('age is',age)
    print('phone is',phone)
    print('sal is',sal)
    return
address(age=25,sal=2000.50,phone=9876,name='mahipal')

# 3.Default Arguments

In [ ]:
def fun3(a=10,b=5):
    print(a-b)
    return
fun3(20,3) # 17
fun3(20) #15
fun3() #5

def fun4(name='Hi All',message='there is no class'):
    print(name,message)
fun4(name='mouni',message='class starts at 10am')  #mouni class starts at 10am 
fun4() #Hi All there is no class

# 4.Variable length Arguments or Arbitaury Length Arguments

In [ ]:
def fun6(*var,message='Happy New Year'):
    for i in var:
        print(i,message)
fun6('mahi','mounika','chutki') # mahi Happy New Year
                                # mounika Happy New Year
                                # chutki Happy New Year      
fun6('mahi','mounika','chutki',message='HI')# mahi HI
                                            # mounika HI
                                            # chutki HI    
def fun7(*var,message='30% discount for Classic customers'):
    for i in var:
        print(i,message)
fun7('raj','mahi','suraj',message='35% discount')  


def fun8(*var):
    for i in var:
        print(i)
fun8('mahipal','mounika')        
   
def fun9():
    a=10
    b=20
    print(a-b)               #-10
    return 'work done'       #work done
fun9()

In [ ]:
def seperate(marks):
    pass_stu=[]
    fail_stu=[]
    for i in marks:
        if(i<=34):
            fail_stu.append(i)
        else:
            pass_stu.append(i)
    print('pass students are',pass_stu,'fail students are',fail_stu)

In [ ]:
marks=[10,30,24,65,87,54,36,90,11]
seperate(marks)

# Modules

In [ ]:
import math
print(dir(math))
print(help(math))

In [ ]:
import math
print('factorial of 5 is',math.factorial(5))
print('reminder of 10,3 is',math.remainder(10,3))
print(math.floor(10.9863889))
print('sqaureroot of 25 is',math.sqrt(25))
print('cos of 45 is',math.cos(45))
print('pi value',math.pi)

import random as r
list1=['mahi','aurav','subash','kumar']
r.shuffle(list1)
print('list1 is shuffeled',list1)

In [ ]:
import random as r
print(r.random())
print(r.randint(10,20)) # random number in between 10 and 20 
otp=r.randint(100000,999999)
print('otp is ',otp)

In [ ]:
import random as r
concern=input('please play game or no').lower()
while(concern == 'yes'):
    guess_no=int(input('please enter no between 1 and 10'))
    random_num=r.randint(1,10)
    if(guess_no == random_num):
        print('you won')
        concern=input('please play game yes or no').lower()
    else:
        print('you loose')
        concern=input('please play game yes or no')
print('Exited the Game Thank you ')

In [ ]:
!pip install pywhatkit

In [ ]:
import pywhatkit as pw
print(dir(pw))
pw.sendwhatmsg("+91-9663037784","hi mahipal",10,54)

In [ ]:
pw.playonyt('bulletbandi')

In [ ]:
pw.search('math module in python')

In [ ]:
pw.text_to_handwriting('I am learning python',rgb=[0, 125, 125])

In [ ]:
import os
os.chdir('C:\\Users\\pcs\\Desktop\\Python')

In [ ]:
import practise  as k
print(dir(K))

In [ ]:
scores=[10,44,34,23,65,25,98,78,76,56]
k.myfun(scores)

# Numpy Arrays
#Can't Handle missing values
#can't Label data
#can have homogenous data types
#provides high performance multidimensional array object
#1D array called as Vector or Arry
#2D array called as matrix

In [ ]:
!pip install numpy

In [ ]:
import numpy as np
print(dir(np))

In [ ]:
array1=np.array([10,20,30,40,20,60])
print(array1)       #[10 20 30 40 20 60]
print(type(array1))  
print('max',array1.max())
print('min',array1.min())
print('mean',array1.mean())
print('shape',array1.shape) #(6,)
array2=np.arange(2,100)  #(start,end-1)
print(array2) # [2 3 4        98 99]
print(array2.shape) #(98,)

array3=np.arange(2,100,3) #(start,end-1,step)
print(array3) #[2 5 8 11  95 98]

array4=np.array([10,32,42,12,101.2,True,'Mahipal'])
print(array4) #['10' '32' '42' '12' '101.2' 'True' 'Mahipal']

array5=np.array([10,32,42,12,101.2,True])
print(array5) #[ 10.   32.   42.   12.  101.2   1. ]

In [ ]:
array6=np.array([[10,20],[20,30],[40,42]]) #Two Dimmensional Array
print(array6)
print(array6.shape)#(3,2) 3 rows,2 columns

array7=np.array([[10,20],[20,30]]) #Two Dimmensional Array
print(array7)
print(array7.shape)

In [ ]:
array8=np.array([[10,20,30,40],[80,90,50,60]]) #Multi Dimmensional Array
print(array8)
print(array8.shape) #2 rows and 4 columns

In [ ]:
c=np.array([[20,30,40],[90,89,78]])
print(c)
print('shape is',c.shape)#(2,3)

c.shape=(3,2)
print(c)
print('after conversion shape',c.shape)#(3,2)

d=np.array([[1,2,3],[4,5,6]])
print(d)
print(d.shape) #(2,3)

d1=d.reshape(3,2)
print(d1)
print(d1.shape) #(3,2)

In [ ]:
d2=np.arange(20)
print(d2)
print(d2.shape)
print('\n')
d3=d2.reshape(2,10)
print(d3)

# Numpy arrays- Initializations

In [ ]:
a1=np.zeros((2,2)) #it print by default zeros,to specify other datatypes we should specify
print(a1)
print('\n')

a2=np.zeros((2,3),str)
print(a2)
print('\n')

a3=np.zeros((2,3),int)
print(a3)
print('\n')

a4=np.zeros((2,3),float)
print(a4)
print('\n')

In [ ]:
a5=np.ones((10))
print(a5)

a6=np.ones((2,3),int)
print(a6)

a7=np.ones((2,3),str)
print(a7)

a8=np.ones((2,3),float)
print(a8)

In [ ]:
#creating Constant array
a9=np.full((3,2),10)
print(a9)

a10=np.full((3,2),23.45)
print(a10)

a11=np.full((3,4),'mahipal')
print(a11)

In [ ]:
science_marks=[20,50,40,60,70]
social_marks=(40,50,30,54,40)
a12=np.asarray(science_marks) #convert list to array
print(a12)
print(a12.shape)

a13=np.asarray(social_marks) # convert set to array
print(a13)
print(a13.shape)

# Numpy arrays-Operations

In [ ]:
a14=np.array([[10,20,30],[40,50,60]])
print(a14)
print('\n after adding 5')
print(a14+5)
print('\n after substracting 2')
print(a14-2)
print('\n after multiplying 5')
print(a14*2)

a15=np.array([[11,12,13,14],[15,16,17,18]])
a16=np.array([[1,2,3,4],[5,6,7,8]])
print('\n after Adding two arrays')
print(a15+a16)
print('\n after substracting two arrays')
print(a15-a16)
print('\n after multiply two arrays')
print(a15*a16)
print('\n after divise two arrays')
print(a15/a16)

In [ ]:
a17=np.array([[1,2,3,4],[5,6,7,8]])
print('max element in array',a17.max())
print('min element in array',a17.min())
print('mean element in array',a17.mean())
print('\n')

print('max in row wise',a17.max(axis=1)) #axis=1 means row wise
print('min in row wise',a17.min(axis=1))
print('mean in row wise',a17.mean(axis=1))
print('\n')

print('max in column wise',a17.max(axis=0)) #axis=0 means column wise
print('min in column wise',a17.min(axis=0))
print('mean in column wise',a17.mean(axis=0))
print('\n')

print(a17[:,]) # [[1 2 3 4]
               # [5 6 7 8]]
print(a17[:,0]) # [1 5]
print(a17[:,2]) #[3 7]
print(a17[:,2].max()) #7
print(a17[:,2].min()) # 3

# Numpy arrays Sorting

In [ ]:
a18=np.array([[1,12,30,4],[51,64,27,8]])
print(a18)
print('\n')
print(np.sort(a18,axis=None)) # complete array it sorts
print('\n')
print(np.sort(a18,axis=1)) # row wise sort
print('\n')
print(np.sort(a18,axis=0)) # column wise sort

In [ ]:
import random
a=np.random.randint(5,10)
print(a)
print('\n')
b=np.random.rand(5,4)
print(b)
print('\n')
c=np.random.randint(low=10000, high=99999)
print(c)
print('\n')
d=np.random.random_sample((5,4))
print(d)

In [ ]:
a20=np.arange(10000,90000)
print(a20)
pwd=12345
for i in a20:
    if(i==pwd):
        print('cracked',i)
        break

In [ ]:
#Numpy Arrays Indexing and Slicing

In [ ]:
b1=np.array([[10,20,30],[2,6,5],[19,45,23]])
print(b1)
print(b1.shape)
print('\n')
print(b1[2]) #[19 45 23] By default Row Wise 
print(b1[:,2])#[30 5 23]  :means column wise
print(b1[2,2])#23
print(b1[:,1][0])#20
print(b1[0:2]) #start,stop-1  Row Wise Slice
print('\n')
print(b1[:,1:2]) # column

# Stacking NumpyArrays

In [ ]:
e=np.array([10,20,30,40])
f=np.array([50,60,70,89])
g=np.array([-1,-2,-3,-4])
h=np.stack((e,f,g))
print(h)

In [ ]:
#1D Vertical Stacking   COlumns are important , rows are not important
i=np.array([1,2,3,4])
j=np.array([5,6,7,8])
result=np.vstack((i,j))
print(result)
print(result.shape)
print('\n')

#2D Vertical Stacking
k=np.array([[1,2,3,4],[5,6,7,8]])
l=np.array([[11,12,13,14],[15,16,17,18]])
m=np.vstack((k,l))
print(m)
print(m.shape)

In [ ]:
#Horizantal 1D Stacking
h1=np.array([1,2,3,4])
h2=np.array([5,6,7,8])
h3=np.hstack((h1,h2))
print(h3)
print(h3.shape)

#Horizantal 2D Stacking
h4=np.array([[1,2,3,4],[5,6,7,8]])
h5=np.array([[10,12,13,14],[15,16,17,18]])
h6=np.hstack((h4,h5))
print(h6)

print('************')
#Diagnoal 1D Stack
h7=np.array([1,2,3,4])
h8=np.array([5,6,7,8])
h9=np.dstack((h7,h8))
print(h9)

print('------------')
#Diagnoal 2D Stack
h10=np.array([[1,2,3,4],[5,6,7,8]])
h11=np.array([[11,12,13,14],[15,16,17,18]])
h12=np.dstack((h10,h11))
print(h12)

In [ ]:
#Concatinating
a=np.arange(5,10)
print(a)
b=np.arange(1,5)
print(b)
c=np.concatenate((a,b))
print(c)

In [ ]:
a=np.array([[1,5],[6,7]]) #2x2 dimention
print(a)
b=np.array([[10,12]])     #1x2 dimention
print(b)
np.concatenate((a,b),axis=0) #one row and one coloum, concatinating through column wise

# Pandas

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd
print(dir(pd))
print('pandas version',pd.__version__)

In [ ]:
print(dir(pd.DataFrame))

In [ ]:
dataframe=pd.Series([10,20,30.8,40.5,20])
print(dataframe)

In [ ]:
print('count',dataframe.count())
print('mean',dataframe.mean())
print('round of mean',round(dataframe.mean(),2))
print('meadian',dataframe.median())
print('mode',dataframe.mode())
print('min',dataframe.min())
print('max',dataframe.max())

In [ ]:
age=[20,34,35,12,54]
df=pd.DataFrame(age,columns=['age'],index=['mahipal','mouni','shashi','raj','ranga'])
print(df)
minimum_age=df.min()
print(minimum_age)

In [ ]:
emp=[['Mahipal',28,300000.50,True],['Rajeshwar',29,40000,False],['suresh',30,40500,False]]
print(emp)
emp1=pd.DataFrame(emp,columns=['name','age','sal','contractor'],index=['emp10','emp20','emp30'])
print(emp1)
print(emp1.shape)#(3,4)

In [ ]:
print('columns',emp1.columns)
print('index',emp1.index)
emp2=emp1.copy()
print('**********')
print('copy of emp',emp2)

In [ ]:
emp1.describe()

In [ ]:
emp1[['name','age']]

In [ ]:
emp1[0:2]#satrt,stop-1

In [ ]:
emp1[['name','age']][0:2]

In [ ]:
c={'Maths':[56,76,20,30,40,11,12,12,14],'Telugu':[43,73,43,54,65,11,12,12,14],'Social':[54,34,10,20,30,11,12,12,14],'Hindi':[43,34,21,12,32,11,12,12,14]}
print(c.get('Maths'))
print(c.values())
print(c.keys())
df2=pd.DataFrame.from_dict(c)
print(df2)
print('**********')
df3=pd.DataFrame.from_records(c)
print(df3)
df3.head()#First 5 records
df3.head(2)#2 records 
df3.tail()#Last 5 records
df3.tail(3)#last 3 records

In [ ]:
df3['Total']=df3['Hindi']+df3['Maths']+df3['Social']+df3['Telugu']
df3['Average']=df3['Total']/4
df3

In [ ]:
df4=df3[['Maths','Social']]
df4

In [ ]:
df3[0:2]

In [ ]:
a=[[10,'Mahipal',28,3000000,'Hyderabad'],[20,'Raj',31,200000,'Bangalore'],[40,'Ram',21,345671,'Chennai']]
df4=pd.DataFrame(a,columns=['empid','ename','age','sal','location'])
df4

In [ ]:
df5=df4[['ename','sal']]
df5

In [ ]:
df4[0:2]

In [ ]:
df4['Phone']=['9876','9898','5432']
df4

In [ ]:
df4.insert(3,'Permanent','P')
df4

In [ ]:
df4.insert(7,'allowance',2000)
df4

In [ ]:
df4['Total']=df4['sal']+df4['allowance']
df4

In [ ]:
fruits=['apple','banana','mango','orange']
old_prices=[100,300,200,400]
new_prices=[300,200,150,520]
df5=pd.DataFrame({'fruit_names':fruits,'2020_prices':old_prices,'2021_prices':new_prices},index={1101,1102,1103,1104})
df5

In [ ]:
df5['PriceChange']=df5['2021_prices']-df5['2020_prices']
df5

In [ ]:
df5['%Change']=round((df5['PriceChange']/df5['2020_prices'])*100,2)
df5

In [ ]:
!pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt
plt.bar(df5['2020_prices'],df5['2021_prices'])
plt.show()

In [ ]:
print(df5.columns)
print(df5.index)
df5.describe()

In [ ]:
df5.max()

In [ ]:
df5.min()

In [ ]:
df5.head()

In [ ]:
df5.tail()

In [ ]:
df5[0:3]#start,stop-1

In [ ]:
df5.to_csv('Fruits_Price_changes.csv')

In [ ]:
df5.to_excel('Fruits_Price_changes.xlsx')

In [ ]:
df5.to_json('Fruits_Price_changes.json')

In [ ]:
import os
print(os.getcwd())

# 18.Admission.csv Pandas Example

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sb

In [ ]:
df=pd.read_csv("admission.csv")
df

In [ ]:
df.describe()

In [ ]:
df[0:10:2]

In [ ]:
df[0:10]

In [ ]:
df.info()

In [ ]:
df.isnull()#True means null value

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(2)

In [ ]:
df.tail(1)

In [ ]:
start=int(input('enter start:'))
stop=int(input('enter stop:'))
df[start:stop]

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
for i in df.columns:
    print(i)

In [ ]:
df.shape

In [ ]:
round(df['GRE Score'].mean(),2)

In [ ]:
df['SOP'].median()

In [ ]:
df[['GRE Score','TOEFL Score']][100:115]

In [ ]:
df.max()

In [ ]:
df[df['GRE Score']>3000]

In [ ]:
df['University Rating'].unique()

In [ ]:
g=df.groupby(['University Rating']).sum()
g

# Missing Values

In [ ]:
df.isnull() # True means Null

In [ ]:
df.isnull().sum()

In [ ]:
df[df['SOP'].isnull()==True]

In [ ]:
df[df['GRE Score'].isnull()==True]

In [ ]:
df['SOP']=df['SOP'].fillna(0)

In [ ]:
df['SOP'].isnull()

In [ ]:
df[df['SOP'].isnull()==True]

In [ ]:
df.isnull().sum()

In [ ]:
df[df['GRE Score'].isnull()]

In [ ]:
df['GRE Score']=df['GRE Score'].fillna(round(df['GRE Score'].mean(),2))
df

In [ ]:
df[df['GRE Score'].isnull()]

In [ ]:
df.to_excel('Clean_Admission.xlsx')

# DataFrames Merging

In [ ]:
df.columns

In [ ]:
df_new=df[['Serial No.', 'GRE Score', 'TOEFL Score', 'Chance of Admit ']]
df_new

In [ ]:
df_new2=df[['Serial No.', 'SOP', 'LOR ']]
df_new2

In [ ]:
df_concat_vertical=pd.concat([df_new,df_new2])#Vertical
print(df_concat_vertical)
print(df_concat_vertical.shape)

In [ ]:
df_contact_horizantal=pd.concat([df_new,df_new2],axis=1)
df_contact_horizantal

In [ ]:
df_merge=pd.merge(df_new,df_new2,on='Serial No.', how = 'inner')
df_merge

# Outliers

In [ ]:
df['GRE Score'].max()

In [ ]:
import seaborn as sns
sns.distplot(df['GRE Score'])

In [ ]:
sns.boxplot(df['SOP'])

In [ ]:
def outlier(df1):
    import pandas as pd
    #df1=pd.Series(list)
    q1=df1.quantile(0.25)
    q3=df1.quantile(0.75)
    iqr=q3-q1
    left=q1-(1.5*iqr)
    right=q3+(1.5*iqr)
    ol=[]
    for i in df1:
        if i<left or i>right:
            ol.append(i)
    print ('data range', left,'to', right)
    if len(ol)>0:
        print ('Outliers are ', ol)
    else:
        print ('There are no outliers in your data')
    return

In [ ]:
outlier(df['GRE Score'])

In [ ]:
outlier(df['SOP'])

In [ ]:
df['GRE Score']=df['GRE Score'].mask(df['GRE Score']>380,df['GRE Score'].mean())
df['GRE Score']

In [ ]:
sns.distplot(df['GRE Score'])#After Replacing outliners

In [ ]:
import matplotlib.pyplot as plt
plt.boxplot(df['LOR '])

In [ ]:
outlier(df['LOR '])

In [ ]:
df['LOR ']=df['LOR '].mask(df['LOR ']<1.5,df['LOR '].mean())#After removing outlier
df['LOR ']

In [ ]:
sns.boxplot(df['LOR '])

In [ ]:
plt.plot(df['GRE Score'],df['Chance of Admit '],'*')
plt.xlabel('GRE Score')
plt.ylabel('Chance of Admit')
plt.show()

# CorelationAnalsys

In [ ]:
corr=df.corr()
corr

In [ ]:
sns.heatmap(corr,annot=True,cmap='coolwarm')

# 19.Matplotlib

In [ ]:
!pip install matplotlib

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [ ]:
df=pd.read_csv("kc_house_data.csv")
df

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df[['price','bathrooms']]

In [ ]:
df[['price','bathrooms']][0:10]

In [ ]:
df[['price','bathrooms']][0:10:2]

In [ ]:
df.max()

In [ ]:
df.mean()

In [ ]:
df.isnull().sum()

In [ ]:
def outliers(df1):
    q1=df1.quantile(0.25)
    q3=df1.quantile(0.75)
    diff=q3-q1
    left=q1-(1.5*diff)
    right=q3+(1.5*diff)
    ol=[]
    for i in df1:
        if i<left or i>right:
               ol.append(i)
    if(len(ol)>0):
        print('outliers in range of',left,'',right)
    else:
        print('no outliers')

In [ ]:
outliers(df['sqft_lot'])

In [ ]:
df['sqft_lot']=df['sqft_lot'].mask(df['sqft_lot']>15106,df['sqft_lot'].mean())
df['sqft_lot']

In [ ]:
df['sqft_lot'].mean()

In [ ]:
plt.boxplot(df['sqft_lot'])

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[10,20,30,40,50,50,60,70,80,100]
plt.plot(a,b)

In [ ]:
plt.plot(a,b,'o--y') # o means circles ,s squares,^ downward triangle,- thick,
                    #second parameter  r red ,g green ,y yellow

In [ ]:
c=list(range(10,101,10))
plt.title("SalesProject")
plt.xlabel("no of units")
plt.ylabel("sales")
plt.grid()

plt.plot(a,c,'--b')

In [ ]:
plt.plot(('mango','banana','apple'),(100,25,65),'o--g')
plt.xlabel('fruits')
plt.ylabel('rates')
plt.title('project')
plt.grid()

In [ ]:
t=np.arange(0.,5.,0.2)
print(t)

In [ ]:
s=t**2
print('\n')
print(s)
s1=s**2
print('\n')
print(s1)
s2=s1**2
print(s2)

In [ ]:
t=np.arange(0.,5.,0.2)
s1=t**2
s2=s1**2
s3=s2**2
plt.plot(t,s1,'--b',label='Reliance')
plt.legend()
plt.show()#ends graph
plt.plot(t,s2,'--g',label='MoreUperMkt')
plt.legend()

plt.plot(t,s3,'--r',label='localmarket')
plt.legend()

# Bar Graph

In [ ]:
a=[10,20,15]
b=[14,2,76]
c=[32,43,20]
d=[11,12,13]
plt.bar(a,b,align='center',color='blue')
plt.xlabel('units')
plt.ylabel('price')
plt.title('barchart')
plt.grid()
plt.show()

plt.bar(c,d,align='edge',color='green')
plt.xlabel('units2')
plt.ylabel('price2')
plt.title('barchart2')
plt.grid()
plt.show()

plt.bar(a,b,align='center',color='yellow')
plt.xlabel('units3')
plt.ylabel('price3')
plt.title('barchart3')
plt.bar(c,d,align='center',color='green')
plt.grid()
plt.show()

# Different colors

In [ ]:
plt.bar([1,2,4,6,7,8],[10,34,35,45,56,87],color=list('rgbcyk'),width=0.5,tick_label=list('abcdef'))

# ScatterPlot

In [ ]:
a=[2,5,7,3,9,12,34]
b=[10,12,54,34,23,15,19]
plt.scatter(a,b,marker='*',color='red') #marker='o' '^' '*'
plt.xlabel('units')
plt.ylabel('price')
plt.title('ScatterPlot')

# Pie Charts

In [ ]:
d=['developer','tester','manager','support','analyst']
c=['blue','green','red','yellow','orange']
s=[20,40,12,50,60]
plt.pie(s,labels=d,colors=c,autopct='%1.2f%%')
plt.axis()

In [ ]:
plt.pie(s,labels=d,colors=c,autopct='%1.1f%%')
plt.axis('equal')

In [ ]:
distance=(0.1,0,0,0.2,0)
plt.pie(s,labels=d,colors=c,autopct='%1.1f%%',explode=distance)
plt.axis('equal')

# Boxplot

In [ ]:
y=list(range(100,200,10))
print(y)

In [ ]:
plt.boxplot(y)
plt.show()

# ViolenPlot

In [ ]:
plt.violinplot(y)
plt.show()

# 20.DateTime Module

In [ ]:
import datetime
import calendar
import time

In [ ]:
print(dir(datetime))

In [ ]:
print(dir(calendar))

In [ ]:
print(dir(time))

In [ ]:
print(datetime.datetime.today())#2022-01-04 19:32:34.912734
print(datetime.date.today())#2022-01-04
type(datetime.datetime.today())#datetime.datetime
print(datetime.tzinfo.tzname)

In [ ]:
import pandas as pd
import numpy as np
date1=pd.date_range(start='2020-01-06',end='2020-01-09')
print(date1)
df=pd.DataFrame(np.random.rand(4,4), index=date1, columns=['A','B','C','D'])
df

# Time Module

In [ ]:
import time
print(dir(time))

In [ ]:
print(time.ctime())
print(time.asctime())
print(time.localtime())
print(time.asctime((2004,12,23, 14, 39, 16, 4, 360,-1)))

In [ ]:
d=datetime.date(2021,12,14)
print(d)#2021-12-14
print(d.weekday())#1
print(d.month)#12
print(d.year)#2021

In [ ]:
t=datetime.date(22,1,5)
print(t)

In [ ]:
import calendar
c1=calendar.calendar(2022)
print(c1)

In [ ]:
c1=calendar.month(2022,1)
print(c1)

# 22.Regular Expression

In [ ]:
s='mahipal profession is datascientist,he was java lead'
s.split()

In [ ]:
s1='java is a programming language'
s1.split(' ')

In [ ]:
search=str(input('enter search of fruit'))
for i in search.split():
    if(i==search):
           print('found')
    else:
           print('not found')

In [ ]:
data='''annotatorId": 2, "ratingOverall": 5, "ratingRoom": 5, "author": "travellerseattle", 
"hotelId": "277882", "reviewId": "277882:54", "ratingLocation": 4, "ratingCleanliness": 5, 
"ratingService": 5, "ratingBusiness": 3, "ratingValue": 5, "segmentLabels": [{"OTHER": "p"},
{"NOTRELATED": "x"}, {"OTHER": "p"}, {"SERVICE": "p"}, {"ROOMS": "p"}, {"CLEANLINESS": "p", 
"ROOMS": "p"}, {"FOOD": "p"}, {"FOOD": "p"}, {"LOCATION": "ip"}, {"OTHER": "p"}, {"OTHER": "p"}, 
{"OTHER": "p"}], "date": "May 15, 2007", "ratingCheckin": 5, "segments":
["LOVED THE HAMPTON INN SEAPORT!!!!!!!!!!!!!!!!!!", "Just returned from a 3 night stay.", 
"This is a FABULOUS hotel.", "The front desk staff, the doormen, the breakfast staff, 
EVERYONE is incredibly friendly and helpful and warm and welcoming.", 
"The room was fabulous too.", "Really comfy beds, great decorating, and super super clean.", 
"The breakfasts are great - fresh fruit, bagels, muffins, hot eggs and sausage, etc.", 
"Good coffee.", "Just around the corner from the hotel is a FABULOUS little Italian restaurant - Bon Amici.", 
"Highly recommend it.", "I will stay at this hotel everytime I come to New York.", 
"Can't say enough great things about it!!!!!'''

In [ ]:
len(data)

In [ ]:
for i in data[5:21]:
    print(i)

In [ ]:
import re

In [ ]:
result=re.finditer('.',data)#it reads all characters in the text except newline
result
for i in result:
    print(i)

In [ ]:
result=re.finditer('\d',data)# \d prints only digits
for i in result:
    print(i)

In [ ]:
result=re.finditer('\d+',data)# \d+ prints continuous numbers
for i in result:
    print(i)

In [ ]:
result=re.finditer('\D',data)# \D Prints all elements including newline except Digits
for i in result:
    print(i)

In [ ]:
result=re.finditer('\w',data)# \w alphabets and numbers
for i in result:
    print(i)

In [ ]:
for i in re.finditer('\w+',data):   #contnuous word and continuous word
    print(i)

In [ ]:
for i in re.finditer('\W',data):     # \W prints only special characters
    print(i)

In [ ]:
for i in re.finditer('\s',data):      # \s whitespaces and new line
    print(i)

In [ ]:
for i in re.finditer('\S',data):    # \S except whitespace and newline 
    print(i)

In [ ]:
data1='i am a data scientist having several years of experience in Python ML and AI'
result=re.findall('[scientist]+',data1)
result

In [ ]:
result=re.findall('scientist',data1)
for i in result:
    print(i)

In [ ]:
result=re.findall('PYTHON',data1,re.IGNORECASE)
print(result)

# re.match

In [ ]:
data='''annotatorId": 2, "ratingOverall": 5, "ratingRoom": 5, "author": "travellerseattle", 
"hotelId": "277882", "reviewId": "277882:54", "ratingLocation": 4, "ratingCleanliness": 5, 
"ratingService": 5, "ratingBusiness": 3, "ratingValue": 5, "segmentLabels": [{"OTHER": "p"},
{"NOTRELATED": "x"}, {"OTHER": "p"}, {"SERVICE": "p"}, {"ROOMS": "p"}, {"CLEANLINESS": "p", 
"ROOMS": "p"}, {"FOOD": "p"}, {"FOOD": "p"}, {"LOCATION": "ip"}, {"OTHER": "p"}, {"OTHER": "p"}, 
{"OTHER": "p"}], "date": "May 15, 2007", "ratingCheckin": 5, "segments":
["LOVED THE HAMPTON INN SEAPORT!!!!!!!!!!!!!!!!!!", "Just returned from a 3 night stay.", 
"This is a FABULOUS hotel.", "The front desk staff, the doormen, the breakfast staff, 
EVERYONE is incredibly friendly and helpful and warm and welcoming.", 
"The room was fabulous too.", "Really comfy beds, great decorating, and super super clean.", 
"The breakfasts are great - fresh fruit, bagels, muffins, hot eggs and sausage, etc.", 
"Good coffee.", "Just around the corner from the hotel is a FABULOUS little Italian restaurant - Bon Amici.", 
"Highly recommend it.", "I will stay at this hotel everytime I come to New York.", 
"Can't say enough great things about it!!!!!'''

In [ ]:
obj=re.match('ann',data)
print(obj)
print('\n')

obj2=re.match('author',data)
print(obj2)

# re.search()

In [ ]:
obj2=re.search('author',data)
print(obj2)

In [ ]:
print(re.search('room',data))

# re.findall()

In [ ]:
print(re.findall('FOOD',data))
print(len(re.findall('FOOD',data)))

In [ ]:
print(re.findall('ROOMS',data,re.IGNORECASE))

# re.sub()

In [ ]:
data1='mahipal is java developer'
print(re.sub('java','python',data1))

# re.split()

In [ ]:
data3='''Just returned from a 3 night stay.", is "This is a FABULOUS hotel.", 
"The front desk staff, the doormen, the breakfast staff, is
EVERYONE is incredibly friendly and is helpful and warm and welcoming.", 
"The room was fabulous too.", "Really comfy beds, is great decorating, and is super super clean.", 
"The breakfasts are great - fresh fruit,is bagels, muffins, is hot eggs and sausage, etc.'''
print(re.split(' ',data3))